<form accept-charset="UTF-8" action="/console/put_bundle" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <p>
    <label for="json">Job bundle text</label><br />
    <textarea cols="40" id="json" name="json" rows="20"><%= @json %></textarea>
  </p>
  <p>
    <input name="commit" type="submit" value="Send" />
  </p>
</form>