<h1>Debug Console</h1>

<%= form_tag '/console/', :method => :post do %>
  <p>
    <%= label :data, :job_bundle_text %><br />
    <%= text_area :data, :job_bundle_text %>
  </p>
  <p>
    <%= submit_tag 'Send' %>
  </p>
<% end %>
