<!DOCTYPE html>
<html lang=ja>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Debug Console - Get Rec 2</title>
    <link rel=stylesheet href=/stylesheets/inuit.css>

</head>
<body class=wrapper>

    <div class=header>

    </div>

    <%= yield %>

</body>
</html>